@model HouseListViewModel

<h1>List of Houses</h1>
<div class="container">
    <div class="btn-group btn-group-sm mb-3" role="group" aria-label="Layout">
        <a class="btn btn-outline-dark" href="/House/Grid">Grid View</a>
        <a class="btn btn-outline-dark active" href="#">Table View</a>
    </div>

    <partial name="_HouseTable" model="Model.Houses" />
    @if (User.IsInRole("Host"))
    {
        <a class="btn btn-primary rounded-pill" asp-controller="House" asp-action="Create">Add New House</a>
    }
</div>